;*****************************************************************************
;
; Filter Settings for Command & Conquer: Renegade
; -----------------------------------------------
;
; <filter> is a SQL-style boolean statement such as:
;
;   "gametype='ctf'"
;   "numplayers > 1 and numplayers < 8"
;   "gamemode='openplaying'"
;
; The filter can be arbitrarily complex and supports all standard SQL
; groupings and boolean operations. The following fields are available
; for filtering:
;
;   hostport, gamever, location, hostname, mapname, gametype, gamemode,
;   numplayers and maxplayers.
;
;*****************************************************************************
[-all]
title=All Renegade Servers
filter=

[-zzz]
title=separator

[@patch130]
title=Renegade Patch 1.30 Servers
filter=(gametype='815')
