;*****************************************************************************
;
; Filter Settings for Counter-Strike: Source
; ------------------------------------------
;
; <filter> is a SQL-style boolean statement such as:
;
;   "gametype='ctf'"
;   "numplayers > 1 and numplayers < 8"
;   "gamemode='openplaying'"
;
; The filter can be arbitrarily complex and supports all standard SQL
; groupings and boolean operations. The following fields are available
; for filtering:
;
;   hostport, gamever, location, hostname, mapname, gametype, gamemode,
;   numplayers and maxplayers.
;
;*****************************************************************************
[-all]
title=All Counter-Strike: Source Servers
filter=(gametype='cstrike')