
/*
     FILE ARCHIVED ON 05:43:55 Apr 28, 2003 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:18:20 Aug 27, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 105.444 (3)
  esindex: 0.009
  captures_list: 129.474
  CDXLines.iter: 13.003 (3)
  PetaboxLoader3.datanode: 389.187 (4)
  exclusion.robots: 0.23
  exclusion.robots.policy: 0.215
  RedisCDXSource: 7.6
  PetaboxLoader3.resolve: 983.566
  load_resource: 1324.651
*/